{# @var episode \App\Entity\Episode #}
<a href="{{ path('app_podcast_show', {slug: episode.slug}) }}" class="ep-row">
    <span class="ep-num" aria-hidden="true">{{ '%02d'|format(episode.number) }}</span>
    <span class="ep-play" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="currentColor"><path d="M8 5v14l11-7z"/></svg>
    </span>
    <div style="flex:1;min-width:0;">
        <div class="ep-meta">{{ episode.season }} · {{ episode.duration }}</div>
        <h3>{{ episode.title }}</h3>
        <p>{{ episode.excerpt }}</p>
    </div>
    <time datetime="{{ episode.publishedAt|date('c') }}">{{ episode.publishedAt|format_datetime(pattern='d MMM', locale='fr') }}</time>
</a>
